@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-black: #000000;
  --theme-grey-900: #121212;
  --theme-grey-800: #1c1c1c;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 100%;
  background: var(--theme-grey-900);
  /* font-family: 'Alegreya Sans', sans-serif; */
}

.site-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  padding: 0.75rem;
  width: 100%;
}

header .header-inner {
  background-color: var(--theme-grey-800);
  width: 100%;
  min-height: 150px;
  border-radius: 8px;
}

aside,
nav {
  background-color: var(--theme-grey-800);
}

nav {
  border-bottom: 1px solid #333;
}

h2 {
  font-size: 1.25em;
  text-transform: capitalize;
  line-height: 1em;
  margin-bottom: 0.5em;
  margin-top: 0;
  padding-bottom: 3px;
  color: #d7dadc;
  font-weight: bold;
}

main {
  padding: 1em;
  min-height: calc(100vh - 150px);
  flex-grow: 1;
}

#aspect-side {
  margin-top: 3.5em;
}

.nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2%;
  list-style: none;
  max-width: 60vw;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.nav-item {
  padding: 0.5rem;
  line-height: 1.2rem;
  font-size: 1.25em;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 100%;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-item:hover img {
  filter: drop-shadow(-2px -2px 0 gold) drop-shadow(-2px 2px 0 gold) drop-shadow(2px -2px 0 gold) drop-shadow(2px 2px 0 gold);
}

.nav-item img {
  display: block;
  transition: all 0.4s;
  margin: 0 auto;
  max-width: 150px;
  max-height: 150px;
}

.nav-item.active {
  background: rgba(255, 255, 255, 0.094);
}

.hide {
  display: none;
}

.weapon_wrap {
  position: relative;
}

.weapon_wrap:hover .hover-switch {
  background: rgba(0, 0, 0, 0.75);
  opacity: 1;
}

.weapon_wrap:hover .hover-switch {
  position: absolute;
  opacity: 0;
  transition: all 0.4s;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-variant: small-caps;
  font-size: 23px;
  padding: 24px 0;
  cursor: pointer;
}

.current__weapon {
  display: flex;
  flex-direction: row;
  border-radius: 100px;
  margin-bottom: 1em;
  padding: 1em;
  align-content: center;
  align-items: center;
}

.weapon-icon {
  height: 40px;
  width: 40px;
  padding: 2px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 110px;
  position: relative;
  margin-right: 0.5rem;
}

.current__weapon img,
.current__aspect img {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.current__weapon span {
  font-size: 20px;
  display: block;
  font-variant: small-caps;
  color: white;
  letter-spacing: 0.05em;
}

.current__aspect {
  padding: 0.5rem 0.75em;
  border-radius: 100px;
  margin-bottom: 1em;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.current__aspect.selected {
  margin-bottom: 0;
  padding: 0.5rem 0;
}

.no_selection {
  text-align: center;
  transition: all 0.3s;
  color: rgb(134, 134, 134);
  border: 2px dashed #606060;
  box-shadow: 0px 10px 1px rgb(0 0 0 / 20%) inset;
  transition: all 0.4s;
}

.no_selection span {
  transition: all 0.4s;
}

.no_selection:hover {
  background: #111;
  cursor: pointer;
  border-color: #111;
}

.no_selection:hover span {
  transform: translateX(5px);
  color: #e5e5e5;
}

.type-nav {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 20px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 10px;
  justify-content: space-between;
}

.type-nav img {
  max-width: 40px;
  max-height: 40px;
}

.disabled img {
  filter: saturate(50%);
  opacity: 0.25;
}

.boon-card {
  background-color: var(--theme-grey-800);
  padding: 1rem;
  border-color: #0d0d0d;
  transition: all 0.2s;
  position: relative;
  display: flex;
  flex-direction: row;
}

.boon-card p {
  line-height: 1.2rem;
}

.boon-card:hover {
  background-color: #2d2c2c;
  cursor: pointer;
}

.boon-card.disabled:hover {
  background-color: var(--theme-grey-800);
  cursor: default;
}

.card-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: #00000012;
  justify-content: center;
}

.boon-list {
  display: flex;
  padding: 0.75em;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.boon-item {
  position: relative;
  /* background-color: green;
  height: 75px;
  width: 75px;
  transform: rotate(45deg); */
}

.boon-item:nth-child(even) {
  margin-left: -43px;
  margin-right: -43px;
  margin-top: 53px;
  z-index: 2;
}

/* .boon-item img {
  width: 100%;
  height: auto;
  transform: rotate(-45deg);
} */

/* 
.boon-interface {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: #000a;
  opacity: 0;
  text-align: center;
  transform: translateY(-50%) rotate(-45deg);
}

.boon-item:hover .boon-interface {
  z-index: 3;
  opacity: 1;
}

.boon-interface button {
  background: #000;
  color: white;
  border: 1px solid white;
  padding: 1.5em 0;
  cursor: pointer;
} */